body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #004080;
  color: white;
  padding: 20px;
  text-align: center;
}

.slider img {
  width: 100%;
  height: 500px; 
  object-fit: cover;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}


/* Responsive */
@media (max-width: 768px) {
  .slider img {
    height: 200px;
  }
  form {
    padding: 15px;
  }
}
